@charset "UTF-8";
/*------------------------------------------------------------

Project:	 Personal Website / Portfolio
Version:	 1.0
Date:      06-08-2022

---- TABLE OF CONTENTS ----

1.0 -
2.0 -
3.0 -
4.0 -
5.0 -
6.0 -
7.0 -
8.0 -
9.0 -
10.0 -
11.0 -
12.0 -
13.0 -
14.0 - 
--------------------------------------------------------------*/
/*--------------------------------------
1.0 - Font Import
--------------------------------------*/
/*  Montserrat  */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900 display=swap");
/*  Poppins  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*--------------------------------------
2.0 - Variable
--------------------------------------*/
/*--------------------------------------
4.0 - Cursor
--------------------------------------*/
/* Custom Cursor */
.ppk-dot,
.ppk-dot-outline {
  z-index: 999;
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.ppk-dot {
  width: 8px;
  height: 8px;
  background-color: #feac43;
  width: 0px;
}

.ppk-dot-outline {
  width: 40px;
  height: 40px;
  background-color: rgba(254, 172, 67, 0.5);
}

/*--------------------------------------------------------------
5.0 - General Styles
--------------------------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  color: #ffffff;
}

h1 {
  font-size: 200px;
  font-weight: 700;
}

h2 {
  font-size: 35px;
  font-weight: 500;
}

h3 {
  font-size: 32px;
  font-weight: 500;
}

h4 {
  font-size: 22px;
  font-weight: 500;
}

h5 {
  font-size: 16px;
  font-weight: 400;
}

p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #eeeeee;
  font-size: 18px;
}

a, a:focus, a:active, span {
  text-decoration: none;
  color: inherit;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
}

a:hover {
  color: #2E2E2E;
  transition-duration: 0.2s;
  font-weight: 500;
}

ul {
  list-style: none none;
}

/* Selection */
::selection {
  color: #2E2E2E;
  background: #f6f6f6;
}

html,
body {
  background-color: #1A1A1A;
  width: 100%;
  height: 100%;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: hidden;
}
html,
html *,
body,
body * {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow-x: visible;
  overflow-y: visible;
}

/*--------------------------------------
9.0 - Content
--------------------------------------*/
main section.home h1 {
  font-size: 200px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding-top: 300px;
  line-height: 180px;
}
main section.home h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 35px;
  text-align: center;
}
main section.home .background p {
  font-size: 500px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  color: #f1f1f1;
  text-align: center;
  align-content: center;
  position: absolute;
  top: 400px;
  z-index: -1;
  left: 50%;
}
main section.home .social-medias {
  padding-top: 145px;
  padding-left: 95px;
  display: flex;
  flex-direction: column;
  filter: brightness(0) invert(1);
}
main section.home .social-medias .icon div {
  padding-bottom: 20px;
}
main section.home .social-medias .line {
  width: 2px;
  height: 90px;
  background-color: #FFFFFF;
  align-content: center;
  text-align: center;
  margin-left: 10px;
  border-radius: 25px;
}
main section.about-me .text p {
  font-size: 32px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #FFFFFF;
  padding-top: 300px;
  width: 1450px;
  margin: auto;
  z-index: 2;
}
main section.about-me .bg-static p {
  font-size: 300px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  color: #2E2E2E;
  white-space: nowrap;
  position: relative;
  z-index: -11;
  margin-top: -250px;
}
main section.journey .journey {
  padding-top: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
main section.journey .journey ul {
  display: flex;
  flex-direction: column;
}
main section.journey .journey ul .line {
  width: 3px;
  height: 350px;
  background: #7e7e7e;
  position: absolute;
}
main section.journey .journey ul .line .line2 {
  width: 3px;
  height: 70px;
  background: #ffffff;
  position: absolute;
}
main section.journey .journey ul li {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  padding: 22px 65px 23px 30px;
}
main section.journey .journey ul li:hover {
  cursor: pointer;
  color: #ffffff;
  font-weight: 500;
}
main section.journey .journey .title h4 {
  font-size: 22px;
  font-weight: 500;
  color: #ffffff;
}
main section.journey .journey .title h5 {
  font-size: 18px;
  font-weight: 400;
  color: #D0D0D0;
}
main section.journey .journey .title p {
  padding-top: 10px;
  width: 349px;
  font-size: 14px;
  font-weight: 400;
  color: #B0B0B0;
}
main section.journey .background p {
  font-size: 300px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  color: #2E2E2E;
  white-space: nowrap;
  text-align: right;
  padding-top: 100px;
}
main section.projects {
  padding-top: -10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
main section.projects .break {
  flex-basis: 100%;
  width: 0;
  height: 0;
  overflow: hidden;
}
main section.projects .avadress, main section.projects .fil, main section.projects .utopia, main section.projects .alone, main section.projects .nwh, main section.projects .flower {
  width: 250px;
  height: 250px;
  background: linear-gradient(135deg, #C3003B 0%, #FF8059 100%);
  border-radius: 15px;
  margin-bottom: 80px;
  margin-left: 80px;
  display: flex;
  justify-content: center;
}
main section.projects .avadress img, main section.projects .fil img, main section.projects .utopia img, main section.projects .alone img, main section.projects .nwh img, main section.projects .flower img {
  margin: auto;
}
main section.projects .avadress .title, main section.projects .fil .title, main section.projects .utopia .title, main section.projects .alone .title, main section.projects .nwh .title, main section.projects .flower .title {
  width: 250px;
  height: 50px;
  background: rgba(255, 255, 255, 0.12);
  border-radius: 0px 0px 8px 8px;
  display: flex;
  align-items: flex-start;
  position: absolute;
  margin-top: 200px;
}
main section.projects .avadress .title h4, main section.projects .fil .title h4, main section.projects .utopia .title h4, main section.projects .alone .title h4, main section.projects .nwh .title h4, main section.projects .flower .title h4 {
  margin: auto;
  color: #000;
}
main section.projects .fil {
  background: linear-gradient(135deg, #E8EDEC 0%, #81D8D0 100%);
}
main section.projects .fil img {
  transform: rotate(30deg);
}
main section.projects .utopia {
  background: linear-gradient(135deg, #FFFFFF 0%, #3CA990 100%);
}
main section.projects .alone {
  background: linear-gradient(135deg, #1A1A1A 0%, #2AD4FF 100%);
}
main section.projects .nwh {
  background: linear-gradient(135deg, #1A1A1A 0%, #FFB10F 100%);
}
main section.projects .flower {
  background: linear-gradient(135deg, #E798AE 0%, #FFEFF4 100%);
}
main section.projects .background p {
  font-size: 300px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  color: #2E2E2E;
  white-space: nowrap;
  text-align: right;
}
main section.skills {
  padding-top: 100px;
}
main section.skills .title {
  margin: auto;
  width: 590px;
}
main section.skills .title p {
  font-size: 14px;
  color: #D0D0D0;
}
main section.skills .offer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 50px;
}
main section.skills .offer .back-end, main section.skills .offer .other {
  margin-left: 50px;
}
main section.skills .offer .front-end h4, main section.skills .offer .back-end h4, main section.skills .offer .other h4 {
  background: #2e2e2e;
  box-shadow: 0 0 14px -3px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  width: 125px;
  height: 35px;
  text-align: center;
  margin-left: 22px;
  position: absolute;
  margin-top: -17px;
}
main section.skills .offer .front-end .box, main section.skills .offer .back-end .box, main section.skills .offer .other .box {
  background: #2e2e2e;
  border-radius: 8px;
  width: 170px;
  height: 250px;
}
main section.skills .offer .front-end .box p, main section.skills .offer .back-end .box p, main section.skills .offer .other .box p {
  text-align: left;
  padding-left: 20px;
  padding-top: 30px;
  color: #B0B0B0;
  font-size: 16px;
}
main section.skills .background p {
  font-size: 300px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  color: #2E2E2E;
  white-space: nowrap;
  text-align: right;
  padding-top: 100px;
}
main section.contact {
  padding-top: 200px;
}
main section.contact .title {
  display: flex;
  justify-content: center;
}
main section.contact .title p {
  font-size: 18px;
  width: 650px;
  color: #B0B0B0;
}
main section.contact form {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
main section.contact .break {
  flex-basis: 100%;
  height: 0;
  overflow: hidden;
}
main section.contact .break {
  width: 0;
}
main section.contact .field input {
  margin: 25px 7.5px;
  border-radius: 10px;
  width: 315px;
  height: 58px;
  background: #2E2E2E;
  padding-left: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #7E7E7E;
  font-size: 18px;
}
main section.contact .field textarea {
  width: 650px;
  height: 200px;
  border-radius: 10px;
  background: #2E2E2E;
  padding-left: 20px;
  padding-top: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #7E7E7E;
  font-size: 18px;
}
main section.contact #button {
  background: none;
  border-radius: 10px;
  padding: 7px 25px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #7E7E7E;
  font-size: 18px;
  border: 2px solid #7e7e7e;
  margin-top: 25px;
  margin-left: 555px;
}
main section.contact .background p {
  font-size: 300px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  color: #2E2E2E;
  white-space: nowrap;
  text-align: right;
  padding-top: 100px;
}
main .footer {
  display: flex;
  justify-content: center;
}
main .footer footer .top {
  display: flex;
  flex-direction: row;
}
main .footer footer .top .title {
  width: 176px;
}
main .footer footer .top .title h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 32px;
  color: #FFFFFF;
  line-height: 43px;
}
main .footer footer .top .title h3 span {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 32px;
  color: #7e7e7e;
}
main .footer footer .top .title .mail {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
}
main .footer footer .top .title .mail .icon {
  margin-right: 10px;
}
main .footer footer .top .title .mail p {
  font-size: 14px;
}
main .footer footer .top .navigation {
  display: flex;
  flex-direction: row;
}
main .footer footer .top .navigation div:not(:first-child), main .footer footer .top .navigation div:not(:nth-child(5)) {
  padding-left: 175px;
}
main .footer footer .top .navigation h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
}
main .footer footer .top .navigation li {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #b0b0b0;
}
main .footer footer .top .navigation li:hover {
  cursor: pointer;
}
main .footer footer .top .navigation .explore, main .footer footer .top .navigation .follow, main .footer footer .top .navigation .blog, main .footer footer .top .navigation .other, main .footer footer .top .navigation .opt {
  display: flex;
  flex-direction: column;
}
main .footer footer .top .navigation .opt img {
  width: 14px;
}
main .footer footer .line {
  margin-top: 20px;
  width: 1584px;
  height: 1px;
  color: #2E2E2E;
  background: #2E2E2E;
}
main .footer footer .bottom {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
}
main .footer footer .bottom .realise span {
  font-weight: 500;
  color: #7e7e7e;
}
main .footer footer .bottom .social-media {
  filter: brightness(0) invert(1);
  padding-left: 1135px;
}
main .footer footer .bottom .social-media img {
  padding-left: 15px;
}

@media screen and (max-width: 1200px) {
  main section.home h1 {
    padding-top: 350px;
    font-size: 135px;
    text-align: center;
    line-height: 140px;
  }
  main section.home h2 {
    font-size: 20px;
  }
  main section.home p {
    padding-top: 100px;
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-size: 150px;
    text-align: center;
  }
  main section.home .social-medias {
    position: absolute;
    bottom: 0;
    left: -50px;
  }
  main section.home .social-medias .line {
    display: none;
  }
  main section.about-me {
    padding-top: 350px;
  }
  main section.about-me .text p {
    font-size: 16px;
    width: 500px;
  }
  main section.about-me .bg-static p {
    top: 50px;
    margin-left: 200px;
    font-size: 100px;
  }
  main section.journey .journey {
    padding-top: 300px;
  }
  main section.journey .journey ul .line {
    width: 3px;
    height: 350px;
  }
  main section.journey .journey ul .line .line2 {
    width: 3px;
    height: 70px;
  }
  main section.journey .journey ul li {
    font-size: 16px;
    padding: 22px 50px 23px 30px;
  }
  main section.journey .background p {
    font-size: 100px;
  }
  main section.projects {
    padding-top: 100px;
  }
  main section.projects .break {
    display: none;
  }
  main section.projects .avadress, main section.projects .fil, main section.projects .utopia, main section.projects .alone, main section.projects .nwh, main section.projects .flower {
    zoom: 0.7;
  }
  main section.projects .background p {
    font-size: 100px;
  }
  main section.skills .title {
    margin: auto;
    width: 500px;
  }
  main section.skills .title h4 {
    font-size: 20px;
  }
  main section.skills .title p {
    font-size: 12px;
  }
  main section.skills .offer .front-end, main section.skills .offer .back-end, main section.skills .offer .other {
    zoom: 0.8;
  }
  main section.skills .background p {
    font-size: 100px;
  }
  main section.contact {
    padding-top: 100px;
  }
  main section.contact .title {
    display: flex;
    justify-content: center;
  }
  main section.contact .title p {
    font-size: 12px;
    width: 520px;
  }
  main section.contact form {
    zoom: 0.8;
  }
  main section.contact .background p {
    font-size: 100px;
  }
  main .footer {
    display: flex;
    justify-content: initial;
    padding-left: 20px;
  }
  main .footer footer .top .title {
    display: flex;
    flex-direction: column;
  }
  main .footer footer .top .title h3 {
    font-size: 28px;
    line-height: 43px;
  }
  main .footer footer .top .title h3 span {
    font-size: 26px;
  }
  main .footer footer .top .title .mail .icon {
    margin-right: 10px;
  }
  main .footer footer .top .title .mail p {
    font-size: 14px;
  }
  main .footer footer .top .navigation h6 {
    font-size: 16px;
  }
  main .footer footer .top .navigation li {
    font-size: 12px;
  }
  main .footer footer .top .navigation .explore, main .footer footer .top .navigation .blog, main .footer footer .top .navigation .other {
    display: none;
  }
  main .footer footer .top .navigation div:not(:first-child), main .footer footer .top .navigation div:not(:nth-child(5)) {
    padding-left: 15vw;
  }
  main .footer footer .top .navigation .opt img {
    width: 14px;
  }
  main .footer footer .line {
    margin-top: 20px;
    width: 93vw;
    height: 1px;
    color: #2E2E2E;
    background: #2E2E2E;
  }
  main .footer footer .bottom {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
  }
  main .footer footer .bottom .realise {
    width: 290px;
  }
  main .footer footer .bottom .social-media {
    display: flex;
    justify-content: flex-end;
    width: 200px;
    padding-left: 0;
  }
  main .footer footer .bottom .social-media img {
    padding-left: 15px;
  }
}
@media screen and (max-width: 575px) {
  main section.home h1 {
    padding-top: 320px;
    font-size: 100px;
    line-height: 100px;
  }
  main section.journey .journey ul .line {
    width: 3px;
    height: 280px;
  }
  main section.journey .journey ul .line .line2 {
    width: 3px;
    height: 56px;
  }
  main section.journey .journey ul li {
    font-size: 14px;
    padding: 22px 25px 15px 25px;
  }
  main section.journey .journey .title h4 {
    font-size: 20px;
  }
  main section.journey .journey .title h5 {
    font-size: 16px;
  }
  main section.journey .journey .title p {
    padding-top: 10px;
    width: 300px;
    font-size: 12px;
  }
  main section.journey .background p {
    font-size: 100px;
  }
  main section.projects {
    padding-top: 100px;
  }
  main section.projects .break {
    display: none;
  }
  main section.projects .avadress, main section.projects .fil, main section.projects .utopia, main section.projects .alone, main section.projects .nwh, main section.projects .flower {
    zoom: 0.7;
  }
  main section.projects .background p {
    font-size: 100px;
  }
  main section.skills .title {
    margin: auto;
    width: 500px;
  }
  main section.skills .title h4 {
    font-size: 20px;
  }
  main section.skills .title p {
    font-size: 12px;
  }
  main section.skills .offer .front-end, main section.skills .offer .back-end, main section.skills .offer .other {
    zoom: 0.8;
  }
  main section.skills .background p {
    font-size: 100px;
  }
  main section.contact {
    padding-top: 100px;
  }
  main section.contact .title {
    display: flex;
    justify-content: center;
  }
  main section.contact .title p {
    font-size: 12px;
    width: 450px;
  }
  main section.contact form {
    zoom: 0.7;
  }
  main section.contact .background p {
    font-size: 100px;
  }
  main .footer {
    display: flex;
    justify-content: initial;
    padding-left: 20px;
  }
  main .footer footer .top .title {
    display: flex;
    flex-direction: column;
  }
  main .footer footer .top .title h3 {
    font-size: 28px;
    line-height: 43px;
  }
  main .footer footer .top .title h3 span {
    font-size: 26px;
  }
  main .footer footer .top .title .mail .icon {
    margin-right: 10px;
  }
  main .footer footer .top .title .mail p {
    font-size: 14px;
  }
  main .footer footer .top .navigation h6 {
    font-size: 16px;
  }
  main .footer footer .top .navigation li {
    font-size: 12px;
  }
  main .footer footer .top .navigation .explore, main .footer footer .top .navigation .blog, main .footer footer .top .navigation .other {
    display: none;
  }
  main .footer footer .top .navigation div:not(:first-child), main .footer footer .top .navigation div:not(:nth-child(5)) {
    padding-left: 15vw;
  }
  main .footer footer .top .navigation .opt img {
    width: 14px;
  }
  main .footer footer .line {
    margin-top: 20px;
    width: 93vw;
    height: 1px;
    color: #2E2E2E;
    background: #2E2E2E;
  }
  main .footer footer .bottom {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
  }
  main .footer footer .bottom .realise {
    width: 290px;
  }
  main .footer footer .bottom .social-media {
    display: flex;
    justify-content: flex-end;
    width: 200px;
    padding-left: 0;
  }
  main .footer footer .bottom .social-media img {
    padding-left: 15px;
  }
}
@media screen and (max-width: 535px) {
  main .footer footer .bottom .social-media {
    width: 170px;
    zoom: 0.9;
  }
}
@media screen and (max-width: 515px) {
  main section.about-me {
    padding-top: 350px;
  }
  main section.about-me .text p {
    font-size: 14px;
    width: 450px;
  }
  main section.about-me .bg-static p {
    top: 85px;
    margin-left: 200px;
    font-size: 70px;
  }
  main section.journey .background p {
    font-size: 70px;
  }
  main section.projects .avadress, main section.projects .fil, main section.projects .utopia, main section.projects .alone, main section.projects .nwh, main section.projects .flower {
    zoom: 0.6;
  }
  main section.projects .background p {
    font-size: 70px;
  }
  main section.skills .title {
    margin: auto;
    width: 410px;
  }
  main section.skills .title h4 {
    font-size: 20px;
  }
  main section.skills .title p {
    font-size: 12px;
  }
  main section.skills .offer .front-end, main section.skills .offer .back-end, main section.skills .offer .other {
    zoom: 0.7;
  }
  main section.skills .background p {
    font-size: 70px;
  }
  main section.contact {
    padding-top: 100px;
  }
  main section.contact .title {
    display: flex;
    justify-content: center;
  }
  main section.contact .title p {
    font-size: 12px;
    width: 415px;
  }
  main section.contact form {
    zoom: 0.65;
  }
  main section.contact .background p {
    font-size: 70px;
  }
  main .footer {
    padding-top: 10px;
    display: flex;
    justify-content: initial;
    padding-left: 20px;
  }
  main .footer footer .top .title {
    display: flex;
    flex-direction: column;
  }
  main .footer footer .top .title h3 {
    font-size: 28px;
    line-height: 43px;
  }
  main .footer footer .top .title h3 span {
    font-size: 26px;
  }
  main .footer footer .top .title .mail .icon {
    margin-right: 10px;
  }
  main .footer footer .top .title .mail p {
    font-size: 12px;
  }
  main .footer footer .top .navigation h6 {
    font-size: 16px;
  }
  main .footer footer .top .navigation li {
    font-size: 12px;
  }
  main .footer footer .top .navigation .explore, main .footer footer .top .navigation .blog, main .footer footer .top .navigation .other {
    display: none;
  }
  main .footer footer .top .navigation div:not(:first-child), main .footer footer .top .navigation div:not(:nth-child(5)) {
    padding-left: 15vw;
  }
  main .footer footer .top .navigation .opt img {
    width: 14px;
  }
  main .footer footer .line {
    margin-top: 20px;
    width: 93vw;
    height: 1px;
    color: #2E2E2E;
    background: #2E2E2E;
  }
  main .footer footer .bottom {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
  }
  main .footer footer .bottom .realise {
    width: 290px;
  }
  main .footer footer .bottom .social-media {
    display: flex;
    justify-content: flex-end;
    width: 200px;
    padding-left: 0;
  }
  main .footer footer .bottom .social-media img {
    padding-left: 15px;
  }
}
@media screen and (max-width: 515px) {
  main section.home h1 {
    padding-top: 350px;
    font-size: 80px;
    line-height: 85px;
  }
  main section.home h2 {
    font-size: 16px;
  }
  main section.about-me {
    padding-top: 350px;
  }
  main section.about-me .text p {
    font-size: 12px;
    width: 300px;
  }
  main section.about-me .bg-static p {
    top: 85px;
    margin-left: 200px;
    font-size: 60px;
  }
  main section.journey .journey ul li {
    font-size: 12px;
    padding: 22px 20px 15px 20px;
  }
  main section.journey .journey .title h4 {
    font-size: 18px;
  }
  main section.journey .journey .title h5 {
    font-size: 14px;
  }
  main section.journey .journey .title p {
    width: 180px;
    font-size: 12px;
  }
  main section.journey .background p {
    font-size: 60px;
  }
  main section.projects .avadress, main section.projects .fil, main section.projects .utopia, main section.projects .alone, main section.projects .nwh, main section.projects .flower {
    zoom: 0.5;
  }
  main section.projects .background p {
    font-size: 60px;
  }
  main section.skills .title {
    margin: auto;
    width: 300px;
  }
  main section.skills .title h4 {
    font-size: 20px;
  }
  main section.skills .title p {
    font-size: 12px;
  }
  main section.skills .offer .front-end, main section.skills .offer .back-end, main section.skills .offer .other {
    zoom: 0.55;
  }
  main section.skills .background p {
    font-size: 70px;
  }
  main section.contact {
    padding-top: 100px;
  }
  main section.contact .title p {
    font-size: 12px;
    width: 318px;
  }
  main section.contact form {
    zoom: 0.5;
  }
  main section.contact form .field textarea {
    width: 650px;
  }
  main section.contact .background p {
    font-size: 70px;
  }
  main .footer footer .top .title {
    display: flex;
    flex-direction: column;
  }
  main .footer footer .top .title h3 {
    font-size: 24px;
    line-height: 30px;
  }
  main .footer footer .top .title h3 span {
    font-size: 20px;
  }
  main .footer footer .top .title .mail .icon {
    margin-right: 10px;
    zoom: 0.8;
  }
  main .footer footer .top .title .mail a {
    font-size: 12px;
  }
  main .footer footer .top .navigation h6 {
    font-size: 16px;
  }
  main .footer footer .top .navigation li {
    font-size: 12px;
  }
  main .footer footer .top .navigation .explore, main .footer footer .top .navigation .blog, main .footer footer .top .navigation .other, main .footer footer .top .navigation .follow {
    display: none;
  }
  main .footer footer .top .navigation div:not(:first-child), main .footer footer .top .navigation div:not(:nth-child(5)) {
    padding-left: 15vw;
  }
  main .footer footer .top .navigation .opt img {
    width: 14px;
  }
  main .footer footer .line {
    margin-top: 20px;
    width: 93vw;
    height: 1px;
    color: #2E2E2E;
    background: #2E2E2E;
  }
  main .footer footer .bottom {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
  }
  main .footer footer .bottom .realise {
    width: 200px;
  }
  main .footer footer .bottom .realise p {
    font-size: 12px;
  }
  main .footer footer .bottom .social-media {
    zoom: 0.8;
    width: 150px;
    padding-left: 0;
  }
  main .footer footer .bottom .social-media img {
    padding-left: 15px;
  }
}

/*# sourceMappingURL=style.css.map */
